- var development = true;

doctype html
html(lang="ru", class="no-js")
	head
		meta(charset="UTF-8")
		title Построим дом Вашей мечты за 2 месяца в ростовской области - ПостройДом
		meta(name="description", content="Построим дом Вашей мечты за 2 месяца в ростовской области")
		meta(name="keywords", content="дом, мечты")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=cyrillic,latin', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')


		meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
		if development
			link(rel="stylesheet", href="css/style.css")
		else
			link(rel="stylesheet", href="css/style.min.css")
		link(res="shortcut icon", type="image/x-icon", href="favicon.ico")
		script(src="js/vendor/modernizr-latest.js")
	body
		.content-wrap
			include block/header
			.content
				block content
		include block/footer
		script(src='js/vendor/jquery.1.9.1.min.js')
		script(src="js/plugins.js")
		script(src="js/main.js")