.action{
	position: relative;
	background: url('../img/action.jpg') no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 26px;
	@media @tabletPortrait{
		background-size: inherit;
		background-position: right;
	}
	&>.wrapper{
		padding: 0 136px;
		@media only screen and (max-width: 900px){
			text-align: center;
		}
		@media @mobileLandscape{
			padding: 0;
		}
	}
	&__form-action{
		right: 21px;
		left: auto;
		top: -5px;
		background-size: cover;
		width: 109px;
		height: 111px;
		padding-top: 60px;
		font-size: 23px;
		@media @mobileLandscape{
			right: 0;
		}

	}
	&__title{
		color: #fff;
		font-size: 36px;
		margin: 0;
		font-weight: 400;
		line-height: 35px;
		padding-left: 22%;
		&>span{
			color: #fe8b07;
		}
		@media @tabletPortrait{
			padding-left: 0;
		}
		@media only screen and (max-width: 900px){
			font-size: 30px;
		}
		@media @mobileLandscape{
			text-align: left;
			padding-right: 114px;
			padding-left: 20px;
		}
		@media @mobilePortrait{
			font-size: 26px;
		}
		@media only screen and (max-width: 390px){
			font-size: 24px;
			line-height: 24px;
		}
	}
	&__form{
		margin-top: 33px;
		&:before{
			display: none;
		}
		.top-block__form-topimage{
			width: 100%;
		}
	}
}