.footer{
	background: url('../img/secback.jpg');
	padding-top: 30px;
	padding-bottom: 30px;
	&__list{
		.clearfix()
	}
	&__left{
		float: left;
		color: #fe8b07;
		font-size: 50px;
		line-height: 55px;
		width: 50%;
		padding: 0 0 0 30px;
	}
	&__right{
		float: right;
		color: #fff;
		font-size: 36px;
		width: 40%;
		padding: 0 30px;
		&>span{
			font-size: 48px;
		}
	}
}