.houses{
	position: relative;
	padding-bottom: 30px;
	&__title{
		position: relative;
		margin: 0;
	}
	&__list{
		position: relative;
		margin: 0;
		padding: 0;
	}
	&__item{
		position: relative;
		margin: 0;
		display: block;
	}
	&__item-title{
		position: relative;
		font-size: 30px;
		font-weight: bold;
		margin-top: 29px;
		margin-bottom: 24px;
		@media @tabletPortrait{
			
		}
		@media @mobileLandscape{
			font-size: 24px;
		}
	}
	&__item-container{
		position: relative;
		.clearfix();
		width: 77%;
		margin: 0 auto;
		@media @tabletPortrait{
			width: 90%;
		}
	}
	&__items-gallary{
		display: block;
		width: 44%;
		position: relative;
		float: left;
		@media @tabletPortrait{
			
		}
		@media @mobileLandscape{
			width: 51%;
		}
		@media @mobilePortrait{
			width: 100%;
		}
	}
	&__items-image{
		display: block;
		width: 100%;
		margin-bottom: 16px;
	}
	&__item-photo-list{
		position: relative;
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: block;
		.clearfix();
		width: 100%;
	}
	&__item-photo{
		margin: 0;
		float: left;
		width: 32%;
		position: relative;
		margin-right: 2%;
		&.nth-child-3{
			margin-right: 0;
		}
	}
	&__items-info{
		float: right;
		width: 53.3%;
		@media @tabletPortrait{
			
		}
		@media @mobileLandscape{
			width: 47%;
		}
		@media @mobilePortrait{
			width: 100%;
		}
	}
	&__items-info-title{
		margin: 0;
		font-family: @PTSans;
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 10px;
		line-height: 24px;
		@media @tabletPortrait{
			
		}
		@media @mobileLandscape{
			font-size: 18px;
			line-height: 18px;
		}
	}
	&__items-info-description{
		margin: 0;
		font-style: italic;
		font-family: @PTSans;
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 16px;
		@media @tabletPortrait{
			
		}
		@media @mobileLandscape{
			font-size: 14px;
			line-height: 14px;
		}
	}
}