.top-block{
	position: relative;
	padding-bottom: 58px;
	&__container{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
	}
	&__container-image{
		display: block;
		position: relative;
		width: 100%;
	}
	&__title{
		color: #fff;
		font-size: 70px;
		line-height: 60px;
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
	}
	&__form{
		position: absolute;
		width: 448px;
		right: 41px;
		top: 224px;
	}
	&__form-image{
		width: 100%;
		position: relative;
	}
	&__form-topimage{
		position: absolute;
		top: 0;
		left: -0.3%;
		width: 101%;
	}
	&__form-header{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000;
		&>span{
			color: #e76306;
		}
	}
	&__form-action{
		position: absolute;
		top: 55px;
		left: 0;
		width: 89px;
		height: 100px;
		background: url('../img/rectangle.png') no-repeat;
		padding-top: 48px;
		font-size: 20px;
		color: #fff;
		font-family: @PTSans;
		font-weight: bold;
	}
	&__form-inputs{
		position: absolute;
		bottom: 53px;
		left: 0;
		width: 100%;
		&>label{
			position: relative;
		}
	}
	&__list{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	&__item{
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}
	&__item-image{
		display: inline-block;
	}
	&__item-description{
		margin: -4px 0 0;
		color: #c93206;
		font-size: 24px;
		padding: 0 20px;
	}
}