footer.footer
	.wrapper
		.footer__list
			.footer__left.text-left
				| Строительство частных домов под ключ в Ростове и области
			.footer__right.text-right
				| Возникли вопросы? Звоните!
				br
				span +7(863)22-66-520