header
	.wrapper
		.main-logo
			img(src="img/logotype.png", alt="logotype")
		ul.header-list.text-center
			li.header-item.text-left
				| Строительство частных домов под ключ в Ростове и области
			li.header-item.text-right
				| Возникли вопросы? Звоните!
				br
				span +7(863)22-66-520